{% extends '::base.html.twig' %}

{% block content %}
    <h1>{{ account.name }}</h1>

    {% if account.children.count %}
        <div class="section">
            <h3>Child Accounts</h3>
            <ul>
                {% for child in account.children %}
                    <li><a href="{{ path('pengarwin_account_show', { 'path': child.path }) }}">{{ child.name }}</a></li>
                {% endfor %}
            </ul>
        </div><!-- .section -->
    {% endif %}

    <div class="section">
        <table cellspacing="0">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Chk #</th>
                    <th>Vendor</th>
                    <th>Offset Account</th>
                    <th>Description</th>
                    <th class="money">Credit</th>
                    <th class="money">Debit</th>
                    <th class="money">Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for posting in account.postedPostings %}
                    <tr>
                        <td>{{ posting.journal.date|date('d M Y') }}</td>
                        <td>{{ posting.journal.chequeNumber }}</td>
                        <td><a href="{{ path('pengarwin_vendor_show', { 'slug': posting.journal.vendor.slug}) }}">{{ posting.journal.vendor }}</a></td>
                        <td><a href="{{ path('pengarwin_account_show', { 'path': posting.offsetPosting.account.path }) }}">{{ posting.offsetPosting.account.segmentation }}</a></td>
                        <td>{{ posting.journal.description }}</td>
                        <td class="money">{{ posting.creditAmount ? posting.creditAmount|number_format(2) : '' }}</td>
                        <td class="money">{{ posting.debitAmount ? posting.debitAmount|number_format(2) : '' }}</td>
                        <td class="money">{{ posting.calculatedBalance|number_format(2) }}</td>
                    </tr>
                {% endfor %}
                {% for posting in account.unpostedPostings %}
                    <tr>
                        <td>{{ posting.journal.date|date('d M Y') }}</td>
                        <td>{{ posting.journal.chequeNumber }}</td>
                        <td><a href="{{ path('pengarwin_vendor_show', { 'slug': posting.journal.vendor.slug}) }}">{{ posting.journal.vendor }}</a></td>
                        <td><a href="{{ path('pengarwin_account_show', { 'path': posting.offsetPosting.account.path }) }}">{{ posting.offsetPosting.account.segmentation }}</a></td>
                        <td>{{ posting.journal.description }}</td>
                        <td class="money">{{ posting.creditAmount ? posting.creditAmount|number_format(2) : '' }}</td>
                        <td class="money">{{ posting.debitAmount ? posting.debitAmount|number_format(2) : '' }}</td>
                        <td class="money">{{ posting.calculatedBalance|number_format(2) }}</td>
                    </tr>
                {% endfor %}
                {{ form_start(form) }}
                    <tr>
                        <td>{{ form_widget(form.date) }}</td>
                        <td>{{ form_widget(form.chequeNumber) }}</td>
                        <td>{{ form_widget(form.proposedVendorName) }}</td>
                        <td>{{ form_widget(form.proposedOffsetAccountSegmentation) }}</td>
                        <td>{{ form_widget(form.description) }}</td>
                        <td class="money">{{ form_widget(form.creditAmount) }}</td>
                        <td class="money">{{ form_widget(form.debitAmount) }}</td>
                        <td>{{ form_widget(form.save) }}</td>
                    </tr>
                {{ form_end(form) }}
            </tbody>
        </table>
    </div><!-- .section -->
<script>
    $(function() {
        $.ajax({
            url: "/vendor.json",
            dataType: "json",
            success: function(data) {
                $("#simple_journal_proposedVendorName").autocomplete({
                    delay: 0,
                    source: data,
                    minlength: 0,
                    select: function(event, ui)
                    {
                        $("#simple_journal_description").val(
                            ui.item.defaultJournalDescription
                        );
                        $("#simple_journal_proposedOffsetAccountSegmentation").val(
                            ui.item.defaultOffsetAccount
                        );
                        $("#simple_journal_description").val(
                            ui.item.defaultJournalDescription
                        );
                        $("#simple_journal_creditAmount").val(
                            ui.item.defaultJournalCreditAmount
                        );
                        $("#simple_journal_debitAmount").val(
                            ui.item.defaultJournalDebitAmount
                        );
                    }
                });
            }
        });

        $.ajax({
            url: "/accounts.json",
            dataType: "json",
            success: function(data) {
                $("#simple_journal_proposedOffsetAccountSegmentation").autocomplete({
                    delay: 0,
                    source: data,
                    minlength: 0
                });
            }
        });
    });
    </script>
{% endblock %}
